@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "BadDuck";
}

<div class="jumbotron">
    <h1>BadDuck</h1>
    <div class="text-center">
        <img src='/Content/logo.png' alt="CocoaDuck" style="width:304px;height:320px;">
    </div>
    <p class="lead">It seems an error occured :C . Please try again.</p>
</div>
