<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="OMDbSharp" version="0.2.0.1" targetFramework="net452" />
  <package id="OSDBnet" version="0.4.0.0" targetFramework="net452" />
  <package id="RestSharp" version="104.4.0" targetFramework="net451" />
  <package id="System.Net.Http" version="4.3.0" targetFramework="net451" />
  <package id="TMDbLib" version="1.0.0" targetFramework="net451" />
  <package id="TVDBSharp" version="2.0.1" targetFramework="net451" />
  <package id="xmlrpcnet" version="3.0.0.266" targetFramework="net451" />
</packages>