<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ClientID" value="182348056238-fgved50rt8uhabreg5r2nnv9errbiv85.apps.googleusercontent.com" />
    <add key="ClientSecret" value="K6jM-0rS_dog5fOh4WLXvVv-" />
    <add key="APIKey" value="AIzaSyA9tRJyxt-jDpDsDif2Abr27fWpbG54AKs" />
  </appSettings>
</configuration>